.bodyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botyContent {
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 0.5rem;

  height: 35rem;
  width: 30rem;
  background-color: var(--gray-400);

  form + section {
    margin-top: 1rem;

    a {
      color: var(--gray-800);
      font-weight: bold;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(2);
      }
    }
  }
}
