.headerContainer {
  background-color: var(--gray-800);
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-radius: 0 0 1rem 1rem;

  h1 {
    color: var(--gray-100);
    font-weight: 700;
  }
}
